<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NFCReaderUsageDescription</key>
	<string>Tap to share your business card via NFC</string>
	<key>com.apple.developer.nfc.readersession.iso7816.select-identifiers</key>
	<array>
		<string>D2760000850101</string>
	</array>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allow your photo library to add your photo to a digital business card with an avatar for Apple Wallet and app view, enabling others to instantly recognize you.</string>
	<key>ACCESS_KEY_ID</key>
	<string>$(ACCESS_KEY_ID)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict/>
	</dict>
	<key>Product_IDS</key>
	<string>$(Product_IDS)</string>
	<key>REAL_IP</key>
	<string>$(REAL_IP)</string>
	<key>ROOT_URL</key>
	<string>$(ROOT_URL)</string>
	<key>SECRET_ACCESS_KEY</key>
	<string>$(SECRET_ACCESS_KEY)</string>
	<key>WEB_SOCKET_URL</key>
	<string>$(WEB_SOCKET_URL)</string>
	<key>eCardify_IOS_APP_NAME</key>
	<string>$(eCardify_IOS_APP_NAME)</string>
	<key>eCardify_IOS_ENVIRONMENT</key>
	<string>$(eCardify_IOS_ENVIRONMENT)</string>
	<key>NEUAUTH_URL</key>
	<string>$(NEUAUTH_URL)</string>
	<key>NEUAUTH_CLIENT_ID</key>
	<string>$(NEUAUTH_CLIENT_ID)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>cardify.addame.com.eCardify</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>cardify.addame.com.eCardify</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
